<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bear Friday</title>
    <meta name="theme-color" content="#8E562E">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <section class="curate-form">
        <h1>Add Bears</h1>
        <form action="/api/curate" method="post">
            <input type="hidden" name="isFormSubmission" value="true" />
            <div class="curate-form-row">
                <label>Instagram URL:</label>
                <input type="text" name="instagramUrl" />
                <button type="submit">Add</button>
            </div>
        </form>
    </section>
</body>
</html>