#bear-friday {
    font-family: 'Cabin', Helvetica, sans-serif;
}

.header-root {
    text-align: center;
    margin-bottom: 35px;
}

.header-note {
    color: #222222;
}

.container-root {
    max-width: 800px;
    margin: auto;
}

.loading-root {
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
